* {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    list-style: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    width: 100%;
    min-height: 100%;
}

.content {
    width: 100%;
    position: relative;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #666666;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-top: 30px;
}