.carousel {
    width: 800px;
    height: 500px;
    margin: 30px auto;
    position: relative;
}

.carousel__inner {
    position: relative;
}

.carousel__item {
    width: 800px;
    height: 500px;
    position: absolute;
}

.carousel__item-image {
    width: 800px;
    height: 100%;
    position: relative;
    overflow: hidden;

    img {
        height: 100%;
    }
}

.carousel__item-text {
    left: 10px;
    bottom: 10px;
    position: absolute;

    p {
        padding: 10px 20px;
        background-color: #fff;
    }
}

.carousel__nav-prev {
    top: 50%;
    left: -50px;
    width: 40px;
    height: 50px;
    margin-top: -25px;
    position: absolute;
    background: image-url('arrow-prev.svg') 0 0 no-repeat;
    background-size: 100%;
}

.carousel__nav-next {
    top: 50%;
    right: -50px;
    width: 40px;
    height: 50px;
    margin-top: -25px;
    position: absolute;
    background: image-url('arrow-next.svg') 0 0 no-repeat;
    background-size: 100%;
}

.carousel__nav-dots {
    width: 100%;
	bottom: -25px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;

    .nav-dot {
        top: -5px;
        width: 11px;
        height: 11px;
        margin: 0 4px;
        position: relative;
        border-radius: 100%;
        display: inline-block;
        background-color: #ccc;
        border: 1px solid #333;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
            background-color: #333;
        }
    }
}